body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.menu {
  overflow: hidden;
  background-color: #333;
}

.menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #111;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

.section {
  padding: 50px;
}

.section1 {
  background-image: url('https://picsum.photos/200/300');
  background-attachment: fixed;
  background-position:center ;
  background-repeat:no-repeat ;
  background-size :cover ;
}

.section2 {
  background-image:url('https://picsum.photos/200/300') ;
  background-attachment :fixed ;
  background-position:center ;
  background-repeat:no-repeat ;
  background-size :cover ;
}

.section3 {
   background-image:url('https://picsum.photos/200/300') ;
   background-attachment :fixed ;
   background-position:center ;
   background-repeat:no-repeat ;
   background-size :cover ;
}

.section4 {
   background-image:url('https://picsum.photos/200/300') ;
   background-attachment :fixed ;
   background-position:center ;
   background-repeat:no-repeat ;
   background-size :cover ;
}
